In [1]:
import sys
import os
sys.path.append(os.path.abspath('..'))
import pandas as pd
import numpy as np

In [2]:
filename = '../data/K19 UAS IKBSR 22-25hpi 260818_2_Position002 wt.xls'
dataframe = pd.read_excel(filename,header=1)

In [3]:
# preview the structure of the data
dataframe[:5]

,Time [s],Position X::1000009969,Position X::1000009970,Position X::1000009971,Position X::1000009973,Position X::1000009974,Position X::1000009975,Position X::1000009978,Position X::1000009980,Position X::1000009981,...,Position Z::1000032625,Position Z::1000032626,Position Z::1000057514,Position Z::1000057524,Position Z::1000057526,Position Z::1000065253,Position Z::1000065360,Position Z::1000067275,Position Z::1000067573,Position Z::1000067897
0,0.000000,216.217,150.529,334.670,442.723,505.333,122.135,56.4980,64.4170,48.2063,...,1713.07,1710.77,1718.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89.997002,216.822,155.610,337.630,443.138,506.936,115.366,57.4302,64.9332,48.6072,...,1712.91,1710.73,1719.02,1716.47,1724.93,NaN,NaN,NaN,NaN,NaN
2,179.994003,217.139,156.675,342.580,443.921,511.090,110.095,56.8257,64.9173,48.7309,...,1712.83,1710.72,1719.48,1714.71,1726.36,NaN,NaN,NaN,NaN,NaN
3,269.973999,217.406,157.395,344.622,446.172,513.563,106.890,63.8380,64.9173,49.0252,...,1712.29,1710.42,1719.06,1713.36,1724.85,NaN,NaN,NaN,NaN,NaN
4,359.985992,217.646,158.873,346.379,450.091,517.370,106.348,71.0109,65.1359,48.1958,...,1711.85,1710.28,1719.41,1713.74,1723.94,NaN,NaN,NaN,NaN,NaN

In [4]:
# extract the track IDs
rawnames = list(dataframe)
rawnames = rawnames[1:]
rawnames = [n.replace('Position ','') for n in rawnames]
trackIDs = np.unique([n.replace('X::','').replace('Y::','').replace('Z::','') for n in rawnames])
num_tracks = len(trackIDs)
num_timepoints = len(dataframe['Time [s]'].values)
num_tracks, num_timepoints

(30, 140)

In [5]:
reshapeddata = pd.DataFrame({'trackID':np.repeat(trackIDs,num_timepoints),
                             'time':np.tile(dataframe['Time [s]'],num_tracks),
                             'x':dataframe.values[:,1:num_tracks+1].reshape((num_tracks*num_timepoints,),order='F'),
                             'y':dataframe.values[:,num_tracks+1:2*num_tracks+1].reshape((num_tracks*num_timepoints,),order='F'),
                             'z':dataframe.values[:,2*num_tracks+1:3*num_tracks+1].reshape((num_tracks*num_timepoints,),order='F')})

In [6]:
reshapeddata

         trackID          time         x        y        z
0     1000009969      0.000000  216.2170  320.137  1721.44
1     1000009969     89.997002  216.8220  320.429  1721.07
2     1000009969    179.994003  217.1390  320.402  1721.23
3     1000009969    269.973999  217.4060  320.660  1721.02
4     1000009969    359.985992  217.6460  321.079  1720.73
5     1000009969    449.980988  219.1010  321.790  1720.17
6     1000009969    539.973999  219.2760  322.260  1719.70
7     1000009969    629.976013  220.2200  329.468  1716.24
8     1000009969    719.991028  221.1050  335.897  1713.84
9     1000009969    809.950989  221.6350  337.601  1712.92
10    1000009969    899.968018  222.2670  343.625  1710.97
11    1000009969    990.051025  222.8660  344.240  1710.68
12    1000009969   1079.969971  226.3840  345.743  1710.29
13    1000009969   1169.961060  225.3590  346.146  1709.95
14    1000009969   1259.942993  215.7350  345.333  1709.45
15    1000009969   1349.937988  213.8670  345.302  1709.31
16    1000009969   1439.952026  215.3630  345.861  1708.99
17    1000009969   1529.953003  212.2300  346.306  1708.81
18    1000009969   1619.947021  211.7750  346.448  1708.63
19    1000009969   1709.938965  218.1850  346.788  1708.31
20    1000009969   1799.928955  225.0920  348.895  1707.92
21    1000009969   1889.932007  227.0230  347.766  1708.09
22    1000009969   1979.935059  227.8100  347.593  1708.01
23    1000009969   2069.927002  228.3780  347.516  1707.78
24    1000009969   2159.930908  229.8580  346.830  1708.07
25    1000009969   2249.928955  229.5690  346.971  1708.09
26    1000009969   2339.906006  223.0470  347.204  1707.30
27    1000009969   2429.928955  221.1290  345.011  1707.64
28    1000009969   2519.916016  220.6180  343.445  1707.98
29    1000009969   2609.916016  220.4470  343.065  1707.96
...          ...           ...       ...      ...      ...
4170  1000067897   9899.673828   75.0501  414.540  1714.98
4171  1000067897   9989.652344   71.5903  410.616  1713.64
4172  1000067897  10079.664062   67.9694  403.678  1711.29
4173  1000067897  10169.664062   66.7190  401.393  1710.62
4174  1000067897  10259.662109   66.8708  401.857  1710.45
4175  1000067897  10349.659180   69.3291  402.674  1710.59
4176  1000067897  10439.656250   80.0517  400.407  1710.14
4177  1000067897  10529.638672   82.9363  397.124  1709.96
4178  1000067897  10619.651367   88.5212  393.076  1709.72
4179  1000067897  10709.642578   90.8157  390.833  1709.67
4180  1000067897  10799.643555   94.4528  389.897  1710.02
4181  1000067897  10889.637695   99.0090  391.945  1710.14
4182  1000067897  10979.623047  100.8490  393.707  1710.73
4183  1000067897  11069.621094  106.2550  398.293  1711.29
4184  1000067897  11159.630859  106.2240  401.877  1711.99
4185  1000067897  11249.634766  105.3710  411.136  1714.10
4186  1000067897  11339.631836   98.1884  415.188  1715.16
4187  1000067897  11429.625000   82.9406  409.427  1712.92
4188  1000067897  11519.605469   73.5134  407.134  1711.75
4189  1000067897  11609.626953   71.1837  407.902  1712.23
4190  1000067897  11699.617188   69.9889  411.539  1713.64
4191  1000067897  11789.619141   69.2955  412.417  1714.12
4192  1000067897  11879.607422   69.4827  414.161  1714.58
4193  1000067897  11969.610352   68.5379  415.205  1715.40
4194  1000067897  12059.588867   69.5567  414.474  1714.95
4195  1000067897  12149.598633   69.8146  417.981  1716.19
4196  1000067897  12239.596680   70.9579  422.214  1718.84
4197  1000067897  12329.595703   73.1567  422.822  1719.03
4198  1000067897  12419.585938   75.0311  422.091  1718.24
4199  1000067897  12509.574219   73.3036  422.489  1718.52

[4200 rows x 5 columns]